h1 {
	text-align: center;
	font-family: Georgia;
	margin-bottom: 30px;
	color: crimson;
}
body {
	background-color: burlywood;
}
image {
	length: 100px;
	width: 100px;
}

.center {
	width: 100%;
	margin: auto;
	text-align: center;
}

ul {
	text-align: center;
	font-family: Georgia;
	margin-bottom: 30px;
	color: crimson;
}
